{% extends "layout.html.jinja" %}

{% block body %} 
<form action="/" method="post">
    <input autocomplete="off" autofocus name="stock" placeholder="Enter Ticker" type="text">
    <button type="submit">Submit</button>
</form>
{% endblock %}