<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='canvasjs.stock.min.js')}}"></script>
    <script scr="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
    <link href="{{url_for('static', filename='bootstrap.min.css')}}", rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{url_for('static', filename='style.css')}}", rel="stylesheet">
    <title>OTrader</title>
</head>
<body>
    <a href="/preformance">Current Balance: {{"$%.2f"|format(balance)}}</a>
    {% block body %}{% endblock %}
</body>
</html>