{% extends "layout.html.jinja" %} 
{# TODO: Fill the gaps in the chart / @home #}
{% block body %}
<h4>Current Price: ${{price}}</h4>
<h4>{{stock}}</h4>
<br>


<script>
  window.onload = function () {
  var dps1 = [], dps2= [];
  data = {{data| safe}}
  var stockChart = new CanvasJS.StockChart("chartContainer",{
    theme: "light2",
    exportEnabled: true,
    title:{
      text:"StockChart with Date-Time Axis"
    },
    subtitles: [{
      text: "Bitcoin Price (in USD)"
    }],
    charts: [{
      axisX: {
        crosshair: {
          enabled: true,
          snapToDataPoint: true
        }
      },
      axisY: {
        prefix: "$"
      },
      data: [{
        type: "candlestick",
        yValueFormatString: "$#,###.##",
        dataPoints : dps1
      }]
    }],
    navigator: {
      data: [{
        dataPoints: dps2
      }]
     
    }
  });
  for(var i = 0; i < data.length; i++){
    dps1.push({x: new Date(data[i].date), y: [Number(data[i].open), Number(data[i].high), Number(data[i].low), Number(data[i].close)]});
    dps2.push({x: new Date(data[i].date), y: Number(data[i].close)});
  }
  stockChart.render();
};

</script>
    

<div id="chartContainer" style="height: 450px; width: 100%;"></div>

{% endblock %}